{% extends 'base.html' %}

{% block contenido %}
<h1>Informes</h1>
<h2>Top 10 productos más vendidos:</h2>
{% for top_producto in top_productos %}
    <p>{{top_producto}}</p>
{% endfor %}
<h2>Top 10 clientes con mayor gasto</h2>
{% for top_cliente in top_clientes %}
    <p>Cliente: {{top_cliente}} - Importe: {{top_cliente.total_gastado}}</p>
{% endfor %}
<h2>Top 10 mayores compras</h2>
{% for top_compra in top_compras %}
    <p>Cliente: {{top_compra.username}} - Total compras: {{top_compra.total_compras}}</p>
{% endfor %}
<h2>Estadisticas generales</h2>
<p>Número total de compras: {{}}</p>
{% endblock %}
