<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Tienda Virtual{% endblock %}</title>
</head>
<body>
    <nav>
        <h1>Iniciar sesión</h1>
    </nav>
    <div>
        {% if form.errors %}
            <p>Error:</p>
            {{ form.errors }}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>
</body>
</html>